[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
psycopg2 = "*"
django-sslify = "*"
djangorestframework = "*"
whitenoise = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.6"
