<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1"> {% endcomment %}
  <meta
    name="viewport"
    content="minimum-scale=1, initial-scale=1, width=device-width"
  />
  <title>Todos querem UNO! Todos vão jogar!</title>
</head>
<body>
<div id="blogpost">
    <!-- React will load here -->
</div>
{% comment %} <div style='background-image: url("https://raw.githubusercontent.com/ramonduarte/sampleblog/main/repo/img/uno.jpg");height: 100vh;width: 100vw;background-position: center;background-repeat: no-repeat;background-size: cover;'>
</div> {% endcomment %}
</body>
{% load static %}
{% block content %} <script> var blogid = '{{ blogid }}'; </script> {% endblock %}
<script src="{% static 'frontend/main.js' %}"></script>
</html>

