<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Todos querem UNO! Todos vão jogar!</title>
</head>
<body>
<div id="app">
    <!-- React will load here -->
</div>
<div style='background-image: url("https://raw.githubusercontent.com/ramonduarte/sampleblog/main/repo/img/uno.jpg");height: 100vh;width: 100vw;background-position: center;background-repeat: no-repeat;background-size: cover;'>
</div>
</body>
{% load static %}
<script src="{% static 'frontend/main.js' %}"></script>
</html>

